body {
  background-color: #1c2128;
  background: linear-gradient(90deg, #1c2128 0%, #516074 100%);
  color: #fff;
}
a:hover {
  color: #c86660;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
